<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ニコキタ教育委員会：結果発表</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/hyouji4.css">
</head>
<body>
    <header>
        <h1>ニコキタ教育委員会：結果発表</h1>
    </header>
    <div class="box-container">
        <% han1.forEach(row => { %>
            <div class="result-box <%= row.result === 1 ? 'red' : row.user_answer === 'timeup' ? 'dark-gray' : 'blue' %>">
                <div style="padding: 30px;"><strong><%= row.user_answer %></strong></div>
                <div style="font-size: 0.9rem;margin: 0;"><%= row.user_ID %></div>
                <div style="font-size: 0.9rem;margin: 0;"><%= row.user_name %></div>
            </div>
        <% }); %>
    </div>
    <div class="pagination">
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
    </div>
    <div class="button-container">
        <input type="submit" class="button" value="問題選択に戻る" onclick="osareta()">
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script>
         var socket = io({ transports: ['websocket'], upgrade: false });
        function osareta() {
            socket.emit('clear');
            window.close();
        }
    </script>
</body>
</html>
   